@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .hero-container {
    position: relative;
    overflow: hidden;
  }

  .hero-slides {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  .hero-container .indicator {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }

  .hero-container .indicator button {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s ease-in-out;
  }

  .hero-container .indicator button.active {
    background-color: white;
  }
}
